<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="register-page">
<div th:insert="~{fragments/header :: header}"></div>

<main class="container auth-container">
    <h1>Регистрация</h1>

    <form th:action="@{/register}" th:object="${user}" method="post" class="auth-form">
        <div class="form-group">
            <label>Email:</label>
            <input type="email" th:field="*{email}" class="form-input" required/>
        </div>

        <div class="form-group">
            <label>ФИО:</label>
            <input type="text" th:field="*{fullName}" class="form-input" required/>
        </div>

        <div class="form-group">
            <label>Телефон:</label>
            <input type="text" th:field="*{phone}" class="form-input" required/>
        </div>

        <div class="form-group">
            <label>Номер полиса ОМС:</label>
            <input type="text" th:field="*{omsPolicyNumber}" class="form-input" required/>
        </div>

        <div class="form-group">
            <label>Пароль:</label>
            <input type="password" th:field="*{password}" class="form-input" required/>
        </div>

        <button type="submit" class="button">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? <a th:href="@{/login}" class="link">Войти</a></p>


</main>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>