<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление пользователями</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<!--<header th:replace="~{fragments/header :: header}"></header>-->
<div th:insert="~{fragments/header_guest :: header}"></div>

<main>
    <h1>Список пользователей</h1>

    <table>
        <thead>
        <tr>
            <th>Email</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Роль</th>
            <th>Изменить роль</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.email}"></td>
            <td th:text="${user.fullName}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <form th:action="@{'/admin/users/' + ${user.email} + '/role'}" method="post">
                    <select name="role">
                        <option value="PATIENT" th:selected="${user.role == 'PATIENT'}">Пациент</option>
                        <option value="DOCTOR" th:selected="${user.role == 'DOCTOR'}">Врач</option>
                        <option value="ADMIN" th:selected="${user.role == 'ADMIN'}">Администратор</option>
                    </select>
                    <button type="submit">Сохранить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
