<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
    <nav>
        <a th:href="@{/}">Главная</a>
        <a th:href="@{/about}">О нас</a>

        <!-- Гость (не авторизован) -->
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Войти</a>
            <a th:href="@{/register}">Регистрация</a>
        </span>

        <!-- Авторизованный пользователь -->
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}">Ваш профиль</a>
            <a th:href="@{/patient/appointments/available}">Запись ко врачу</a>
            <a th:href="@{/patient/my-appointments}">Ваши записи</a>
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button type="submit">Выйти</button>
            </form>
        </span>
    </nav>
</div>
</body>
</html>
