<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Поликлиника "Здоровье"</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Главная</a>
        <a th:href="@{/about}">О нас</a>

        <!-- Кнопки для НЕавторизованных -->
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Войти</a>
            <a th:href="@{/register}">Регистрация</a>
        </div>

        <!-- Кнопки для авторизованных -->
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}">Ваш профиль</a>
            <a th:href="@{/appointments}">Запись ко врачу</a>
            <a th:href="@{/logout}">Выйти</a>
        </div>
    </nav>
</header>
</body>
</html>
