<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Об авторе"</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!-- Вставляем шапку (как в home.html) -->
<div th:insert="~{fragments/header :: header}"></div>

<main>
    <h1>Об авторе</h1>

    <!-- Добавляем нужную информацию -->
    <section>
        <h2>Информация об авторе</h2>
        <p>Зюряев Михаил Дмитриевич</p>
    </section>

<!--    <section>-->
<!--        <h2>Наши врачи</h2>-->
<!--        <p>У нас работают высококвалифицированные специалисты с многолетним опытом.</p>-->
<!--    </section>-->

    <section>
        <h2>Контакты</h2>
        <p>Адрес: 4-й Вешняковский пр., 4, стр. 3</p>
        <p>Телефон: +7 (967) 043-08-47</p>
        <p>Email: zyuryaevm@yandex.ru</p>
    </section>
</main>
</body>
</html>