<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Информация о враче</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:text="${doctor.fullName}">Имя врача</h1>-->
<!--<p><strong>Специализация:</strong> <span th:text="${doctor.specialization}"></span></p>-->
<!--<p><strong>Email:</strong> <span th:text="${doctor.email}"></span></p>-->
<!--<p><strong>Телефон:</strong> <span th:text="${doctor.phone}"></span></p>-->
<!--<p><strong>Образование:</strong> <span th:text="${doctor.education}"></span></p>-->
<!--<p><strong>Стаж:</strong> <span th:text="${doctor.experience} + ' лет'"></span></p>-->
<!--<p><strong>Дата рождения:</strong> <span th:text="${doctor.birthDate}"></span></p>-->
<!--<p><strong>О враче:</strong></p>-->
<!--<p th:text="${doctor.description}"></p>-->

<!--<a th:href="@{/appointments/book/{id}(id=${doctor.id})}">Записаться на приём</a>-->

<!--</body>-->
<!--</html>-->
