<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная | Поликлиника "Здоровье"</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<!-- Вставляем шапку -->
<div th:insert="~{fragments/header :: header}"></div>

<main>
    <h1>Добро пожаловать в поликлинику "Здоровье"</h1>
    <p>Мы предлагаем качественное медицинское обслуживание для всей семьи.</p>

    <section>
        <h2>Наши услуги</h2>
        <ul>
            <li>Терапия</li>
            <li>Хирургия</li>
            <li>Педиатрия</li>
        </ul>
    </section>

    <a th:href="@{/register}" class="button">Зарегистрироваться</a>
</main>
</body>
</html>